form input[type="submit"],
button,
.button {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  transition: all 0.15s linear;
  white-space: normal;
  border-color: transparent;
}

button:disabled,
.button:disabled {
  background-color: #d0d0d0;
  border-color: transparent;
  color: #e6e6e6;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  text-decoration: none;
}

button:active,
.button:active {
  text-decoration: none;
}

.btn--row {
  display: flex;
  gap: 0.75rem;
}
/* ---------------------------------------------------- */
/* Base .btn: Solid Primary                             */
/* ---------------------------------------------------- */
.btn {
  font-size: 1rem;
  line-height: 1;

  background-color: var(--primary-color);
  color: var(--secondary-color);

  max-height: 3rem;
  padding: 12px 24px;
  border-radius: 100px;
}

.btn--full-width {
  width: 100%;
}

nav .header--cta,
.navigation--cta {
  font-size: 0.875rem;
  line-height: 1;

  background-color: var(--primary-color);
  color: var(--secondary-color);

  max-height: 2rem;
  padding: 6px 12px;
  border-radius: 100px;
}

/* ---------------------------------------------------- */
/* Outline Blue                                         */
/* ---------------------------------------------------- */
.btn--outline-blue {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

/* ---------------------------------------------------- */
/* Outline Dark (light text on dark backgrounds)        */
/* ---------------------------------------------------- */
.btn--outline-dark {
  background-color: transparent;
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}

/* ---------------------------------------------------- */
/* Outline Light (dark text on light backgrounds)       */
/* ---------------------------------------------------- */
.btn--outline-light {
  background-color: transparent;
  border: 1px solid var(--tertiary-color);
  color: var(--tertiary-color);
}

/* ---------------------------------------------------- */
/* Solid Dark (white background, black text)            */
/* ---------------------------------------------------- */
.btn--solid-dark {
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  color: var(--tertiary-color);
}

/* ---------------------------------------------------- */
/* Solid Light (black background, white text)           */
/* ---------------------------------------------------- */
.btn--solid-light {
  background-color: var(--tertiary-color);
  border: 1px solid var(--tertiary-color);
  color: var(--secondary-color);
}

/* ---------------------------------------------------- */
/* Link Buttons                                         */
/* ---------------------------------------------------- */
.btn--link {
  font-size: 1rem;
  line-height: 1;
  letter-spacing: 0px;
  text-decoration: underline;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  color: var(--tertiary-color);
}

.btn--link-dark {
  color: var(--secondary-color);
}

.btn--link-light {
  color: var(--tertiary-color);
}

/* ---------------------------------------------------- */
/* Disabled States                                      */
/* ---------------------------------------------------- */

.btn--disabled {
  background-color: var(--disabled-color);
  border: 1px solid var(--disabled-color);
  color: var(--secondary-color);
  cursor: not-allowed;
}

.btn--outline-disabled {
  background-color: transparent;
  border: 1px solid var(--disabled-color);
  color: var(--secondary-color);
  cursor: not-allowed;
}

/* ---------------------------------------------------- */
/* Hover Focus States */
/* ---------------------------------------------------- */

.btn:hover {
  background-color: var(--primary-color-hover);
}

.btn:active {
  background-color: #0047cc;
}

.btn:focus {
  outline: 2px solid var(--primary-color-hover);
  outline-offset: 2px;
}

/* Outline Blue */
.btn--outline-blue:hover {
  background-color: var(--primary-color-outline-hover);
  color: var(--primary-color);
  border-color: var(--primary-color);
}
.btn--outline-blue:active {
  background-color: var(--primary-color-hover);
  border-color: var(--primary-color-hover);
  color: var(--secondary-color);
}
.btn--outline-blue:focus {
  outline: 2px solid var(--primary-color);
  outline-offset: 2px;
}

/* Outline Dark */
.btn--outline-dark:hover {
  background-color: var(--secondary-color-outline-dark-hover);
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}
.btn--outline-dark:active {
  background-color: var(--secondary-color-outline-dark-hover);
  border-color: var(--secondary-color);
  color: var(--secondary-color);
}
.btn--outline-dark:focus {
  outline: 2px solid var(--secondary-color);
  outline-offset: 2px;
}

/* Outline Light */
.btn--outline-light:hover {
  background-color: var(--secondary-color-outline-hover);
  color: var(--tertiary-color);
  border-color: var(--tertiary-color);
}
.btn--outline-light:active {
  background-color: var(--secondary-color-outline-hover);
  border-color: var(--tertiary-color-hover);
  color: var(--secondary-color);
}
.btn--outline-light:focus {
  outline: 2px solid var(--tertiary-color);
  outline-offset: 2px;
}

/* Solid Dark */
.btn--solid-dark:hover {
  background-color: var(--secondary-color-hover);
  border-color: var(--secondary-color-hover);
  color: var(--tertiary-color);
}
.btn--solid-dark:active {
  background-color: #d0d0d0;
  border-color: #d0d0d0;
  color: var(--tertiary-color);
}
.btn--solid-dark:focus {
  outline: 2px solid var(--secondary-color);
  outline-offset: 2px;
}

/* Solid Light */
.btn--solid-light:hover {
  background-color: var(--tertiary-color-hover);
  border-color: var(--tertiary-color-hover);
  color: var(--secondary-color);
}
.btn--solid-light:active {
  background-color: #333;
  border-color: #333;
  color: var(--secondary-color);
}
.btn--solid-light:focus {
  outline: 2px solid var(--tertiary-color);
  outline-offset: 2px;
}

/* Link Buttons */
.btn--link:hover {
  color: var(--tertiary-color-hover);
  background-color: transparent;
}
.btn--link:active {
  color: var(--tertiary-color-hover);
}
.btn--link:focus {
  outline: 2px solid var(--primary-color);
  outline-offset: 2px;
}

/* Link Buttons Dark */
.btn--link-dark:hover {
  color: var(--secondary-color-hover);
}
.btn--link-dark:active {
  color: #ccc;
}
.btn--link-dark:focus {
  outline: 2px solid var(--secondary-color);
  outline-offset: 2px;
}

/* Disabled States */
.btn--disabled:hover {
  background-color: var(--disabled-color-dark);
  border-color: var(--disabled-color-dark);
  color: var(--secondary-color);
}
.btn--disabled:active {
  background-color: var(--disabled-color-dark);
  border-color: var(--disabled-color-dark);
  color: var(--secondary-color);
}
.btn--disabled:focus {
  outline: 2px solid var(--disabled-color-dark);
  outline-offset: 2px;
}

.btn--outline-disabled:hover {
  background-color: transparent;
  border-color: var(--disabled-color-dark);
  color: var(--secondary-color);
}
.btn--outline-disabled:active {
  background-color: transparent;
  border-color: var(--disabled-color-dark);
  color: var(--secondary-color);
}
.btn--outline-disabled:focus {
  outline: 2px solid var(--disabled-color-dark);
  outline-offset: 2px;
}

@media (max-width: 67.75rem) {
  .btn,
  button {
    width: 100%;
  }

  nav .header--cta,
  .navigation--cta {
    width: fit-content;
  }
}
