<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nick | Personal Kitchen Sink</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/__kitchen-sink.css">
  </head>

  <body>
    <!-- [START] HEADER Full Area -->
    <header data-navigation="true">
      <div class="header--container">
        <!-- Logo -->
        <a class="header--logo" href="./landing-page.html">
          <img src="../images/First-party/class-pass-logo.svg" alt="Classpass Logo" class="logo--desktop">
          <img src="../images/First-party/classpass-mobile-logo.svg" alt="Classpass Logo" class="logo--mobile">
        </a>

        <div class="header--nav-responsive">
          <!-- “Sign up now” -->
          <button class="btn navigation--cta mobile-signup-cta">Sign up now</button>

          <!-- Mobile Menu Toggle Button -->
          <button class="nav-toggle" aria-label="Open Menu" id="navToggle">
            <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <line x1="1" y1="14" x2="17" y2="14" stroke="black" stroke-width="2" stroke-linecap="round" />
              <line x1="1" y1="8" x2="17" y2="8" stroke="black" stroke-width="2" stroke-linecap="round" />
              <line x1="1" y1="2" x2="17" y2="2" stroke="black" stroke-width="2" stroke-linecap="round" />
            </svg>

          </button>

          <!-- Close Button (Mobile) -->
          <button class="nav-close" aria-label="Close Menu" id="navClose">
            <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M14.3179 14.6539C14.7084 15.0444 15.3417 15.0444 15.7322 14.6539C16.1228 14.2634 16.1228 13.6303 15.7322 13.2399L10.4906 7.99937L15.7314 2.75965C16.122 2.36917 16.122 1.73606 15.7314 1.34558C15.3408 0.955094 14.7076 0.955094 14.3171 1.34558L9.07629 6.5853L3.76274 1.27284C3.37217 0.88236 2.73894 0.882359 2.34838 1.27284C1.95781 1.66333 1.95781 2.29643 2.34838 2.68691L7.66193 7.99937L2.34761 13.3126C1.95705 13.7031 1.95705 14.3362 2.34761 14.7267C2.73817 15.1172 3.3714 15.1172 3.76196 14.7267L9.07629 9.41344L14.3179 14.6539Z"
                fill="black" />
            </svg>
          </button>

          <!-- Navigation Drawer -->
          <nav class="header--nav" id="mainNav">

            <!-- Nav Links -->
            <ul>
              <li><a href="#what-to-expect">Find class & appointments</a></li>
              <li><a href="#">Plans</a></li>
              <li><a href="#">How credits work</a></li>
              <li><a href="#">List my business</a></li>
              <li><a href="#">Corporate wellness</a></li>
              <li><a href="#">Login</a></li>
              <li class="desktop-only"><button class="btn navigation--cta">Sign up now</button></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <!-- [END] HEADER Area -->

    <!-- ------------------------------------------------------------- -->
    <!-- [START] Playground Area -->
    <section class="standard-section container text--area text--area-center">
      <h1>Kitchen Sink</h1>
      <p>The ideal kitchen-sink novel: Throw in everything but the kitchen sink. Then add the kitchen sink.</p>
    </section>

    <hr>

    <section class="standard-section container text--area text--area-center">
      <h2>Headings</h2>
    </section>

    <section class="container text--area text--area-center">
      <div class="ks--row ks--row-standard">
        <div class="ks--column">
          <div class="ks--text-showcase">
            <h1 class="heading--1">Heading 1</h1>
            <p class="ks--reference">h1 or .heading--1</p>
          </div>

          <div class="ks--text-showcase">
            <h2 class="heading--2">Heading 2</h2>
            <p class="ks--reference">h2 or .heading--2</p>
          </div>

          <div class="ks--text-showcase">
            <h3 class="heading--3">Heading 3</h3>
            <p class="ks--reference">h3 or .heading--3</p>
          </div>

          <div class="ks--text-showcase">
            <h4 class="heading--4">Heading 4</h4>
            <p class="ks--reference">h4 or .heading--4</p>
          </div>

          <div class="ks--text-showcase">
            <h5 class="heading--5">Heading 5</h5>
            <p class="ks--reference">h5 or .heading--5</p>
          </div>

          <div class="ks--text-showcase">
            <h6 class="heading--6">Heading 6</h6>
            <p class="ks--reference">h6 or .heading--6</p>
          </div>
        </div>
        <div class="ks--column">
          <div class="ks--text-showcase">
            <span class="heading--xxxl text--bold">Bold</span>
            <p class="ks--reference">b or .text--bold</p>
          </div>
          <div class="ks--text-showcase">
            <span class="heading--xxxl text--medium">Medium</span>
            <p class="ks--reference">.text--medium</p>
          </div>
          <div class="ks--text-showcase">
            <span class="heading--xxxl text--regular">Regular</span>
            <p class="ks--reference">.text--regular</p>
          </div>
        </div>
      </div>
    </section>

    <section class="standard-section container text--area text--area-center">
      <h2>Buttons</h2>
    </section>

    <section class="standard-section container ks--buttons-section">
      <div class="ks--row ks--titles-row">
        <div class="ks--column">
          <p class="ks--column-title"><b>Navigation</b><br>Desktop & Mobile</p>
        </div>
        <div class="ks--column">
          <p class="ks--column-title"><b>Default</b><br>Desktop & Mobile</p>
        </div>
        <div class="ks--column">
          <p class="ks--column-title"><b>Mobile heroes & walkthroughs</b><br>Mobile (stretches full-width)</p>
        </div>
      </div>

      <div class="ks--row">
        <!-- First Column -->
        <div class="ks--column">
          <div class="ks--row">
            <button class="btn navigation--cta">Button</button>
          </div>
        </div>
        <!-- Second Column -->
        <div class="ks--column">
          <div class="ks--row">
            <button class="btn">Button</button>
          </div>
        </div>
        <!-- Third Column -->
        <div class="ks--column">
          <div class="ks--row">
            <button class="btn btn--full-width">Button</button>
          </div>
        </div>
      </div>

      <!-- Outline blue -->
      <div class="ks--row">
        <!-- First Column -->
        <div class="ks--column">
          <div class="ks--row">
            <p>N/A</p>
          </div>
        </div>
        <!-- Second Column -->
        <div class="ks--column">
          <div class="ks--row">
            <button class="btn btn--outline-blue">Button</button>
          </div>
        </div>
        <!-- Third Column -->
        <div class="ks--column">
          <div class="ks--row">
            <button class="btn btn--full-width btn--outline-blue">Button</button>
          </div>
        </div>
      </div>

      <!-- Dark solid -->
      <div class="ks--row ks--row-dark">
        <!-- First Column -->
        <div class="ks--column">
          <div class="ks--row">
            <p>N/A</p>
          </div>
        </div>
        <!-- Second Column -->
        <div class="ks--column">
          <div class="ks--row">
            <button class="btn btn--solid-dark">Button</button>
          </div>
        </div>
        <!-- Third Column -->
        <div class="ks--column">
          <div class="ks--row">
            <button class="btn btn--full-width btn--solid-dark">Button</button>
          </div>
        </div>
      </div>

      <!-- Dark outline -->
      <div class="ks--row ks--row-dark">
        <!-- First Column -->
        <div class="ks--column">
          <div class="ks--row">
            <p>N/A</p>
          </div>
        </div>
        <!-- Second Column -->
        <div class="ks--column">
          <div class="ks--row">
            <button class="btn btn--outline-dark">Button</button>
          </div>
        </div>
        <!-- Third Column -->
        <div class="ks--column">
          <div class="ks--row">
            <button class="btn btn--full-width btn--outline-dark">Button</button>
          </div>
        </div>
      </div>

      <!-- Normal black solid -->
      <div class="ks--row">
        <!-- First Column -->
        <div class="ks--column">
          <div class="ks--row">
            <p>N/A</p>
          </div>
        </div>
        <!-- Second Column -->
        <div class="ks--column">
          <div class="ks--row">
            <button class="btn btn--solid-light">Button</button>
          </div>
        </div>
        <!-- Third Column -->
        <div class="ks--column">
          <div class="ks--row">
            <button class="btn btn--full-width btn--solid-light">Button</button>
          </div>
        </div>
      </div>

      <!-- Normal black outline -->
      <div class="ks--row">
        <!-- First Column -->
        <div class="ks--column">
          <div class="ks--row">
            <p>N/A</p>
          </div>
        </div>
        <!-- Second Column -->
        <div class="ks--column">
          <div class="ks--row">
            <button class="btn btn--outline-light">Button</button>
          </div>
        </div>
        <!-- Third Column -->
        <div class="ks--column">
          <div class="ks--row">
            <button class="btn btn--full-width btn--outline-light">Button</button>
          </div>
        </div>
      </div>

      <!-- Links -->
      <div class="ks--row">
        <!-- First Column -->
        <div class="ks--column">
          <div class="ks--row">
            <p>N/A</p>
          </div>
        </div>
        <!-- Second Column -->
        <div class="ks--column">
          <div class="ks--row">
            <button class="btn btn--link">Button</button>
          </div>
        </div>
        <!-- Third Column -->
        <div class="ks--column">
          <div class="ks--row">
            <button class="btn btn--full-width btn--link">Button</button>
          </div>
        </div>
      </div>

      <!-- Links Dark -->
      <div class="ks--row ks--row-dark">
        <!-- First Column -->
        <div class="ks--column">
          <div class="ks--row">
            <p>N/A</p>
          </div>
        </div>
        <!-- Second Column -->
        <div class="ks--column">
          <div class="ks--row">
            <button class="btn btn--link btn--link-dark">Button</button>
          </div>
        </div>
        <!-- Third Column -->
        <div class="ks--column">
          <div class="ks--row">
            <button class="btn btn--full-width btn--link btn--link-dark">Button</button>
          </div>
        </div>
      </div>


      <div class="ks--row hidden">
        <div class="ks--column">
          <p class="ks--column-title"><b>Focus Example</b><br>Press Tab to focus</p>
        </div>
        <div class="ks--column">
          <div class="ks--row">
            <button class="btn">Focus me</button>
          </div>
        </div>
        <div class="ks--column">
          <p></p>
        </div>
      </div>


      <div class="ks--row hidden">
        <div class="ks--column">
          <p class="ks--column-title"><b>Disabled Example</b></p>
        </div>
        <div class="ks--column">
          <div class="ks--row">
            <button class="btn btn--disabled" disabled>Disabled</button>
          </div>
        </div>
        <div class="ks--column">
          <div class="ks--row">
            <button class="btn btn--full-width btn--disabled" disabled>Disabled</button>
          </div>
        </div>
      </div>
    </section>




    <section class="standard-section container text--area text--area-center">
      <h2>Form</h2>
    </section>

    <section class="light-blue-section full-section">
      <div class="ks--row ks--row-standard">
        <div class="ks--column">
<div class="form contained-form">

            <div class="form--column form--head">
              <h3>Contact information</h3>
              <p>The information below will be used to contact you with event updates and to let you know your status on
                the waitlist.</p>
            </div>

            <div class="form--row">
              <div class="input--group">
                <input type="text" class="name" required>
                <label for="">First name*</label>
              </div>
              <div class="input--group">
                <input type="text" class="last-name" required>
                <label for="">Last name*</label>
              </div>
            </div>

            <div class="form--row">
              <div class="input--group">
                <input type="text" class="phone" required>
                <label for="">Phone number*</label>
              </div>
            </div>

            <div class="form--row">
              <div class="input--group">
                <input type="email" class="email" required>
                <label for="">Email address*</label>
              </div>
            </div>

            <div class="form--row">
              <div class="input--group">
                <select class="experience" required>
                  <option value="" disabled selected>Please select</option>
                  <option value="novice">Novice</option>
                  <option value="intermediate">Intermediate</option>
                  <option value="advanced">Advanced</option>
                </select>
                <label for="">Pickleball experience level*</label>
              </div>
            </div>

            <div class="form--row">
              <div class="input--group input--group-checkbox no-margin">
                <input type="checkbox" class="marketing" required>
                <p>I agree to receive marketing and other communications from ClassPass and its group
                  companies.*</p>
              </div>
            </div>

            <div class="form--row">
              <div class="input--group input--group--textarea no-margin">
                <p>You can unsubscribe from these communications at any time. For more information, please
                  review our <a href="https://classpass.com/terms" target="_blank">Terms of Use</a> and <a href="https://classpass.com/privacy" target="_blank">Privacy Policy.</a></p>
              </div>
            </div>

            <div class="form--row">
              <button class="btn btn--full-width">Join waitlist</button>
            </div>

          </div>
        </div>
      </div>
    </section>
    <!-- [END] Playground Area -->

    <!-- [START] Scripts Area -->
    <script src="../js/main.js"></script>
    <script src="../js/sign-up.js"></script>
    <!-- [END] Scripts Area -->
  </body>

</html>
